.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.candy-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.candy-item {
  margin: 20px;
  border: solid purple;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flower-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flower-item {
  margin: 20px;
  border: solid purple;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sister-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sister-item {
  margin: 20px;
  border: solid thick pink;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bigthree-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bigthree-item {
  margin: 20px;
  border: solid thick pink;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
  width: 100px;
}
